@model List<Transportation.Models.TblCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div style="border-block"><h2>Kategori Listesi</h2></div>


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryID</td>
            <td>@item.CatagoryName</td>
            <td><a href="#" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="#" class="btn btn-outline-success">Güncelle</a></td>
            <td><a href="#" class="btn btn-outline-warning">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Category/AddCategory/" class="btn btn-primary">Yeni Kategori Girişi</a>

